@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.blockUI.js")" type="text/javascript"></script>
		<link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">
        <script type="text/javascript" src='@routes.Application.javascriptRoutes()'></script>
        <style>
            input:read-only, select:disabled {
                background-color: silver;
            }
        </style>
    </head>
    <body>

        @menu.render()
        <div class="container">
                @if(flash.contains("success")) {
                    <div class="alert alert-success">
                        @flash.get("success")
                    </div>
                }

                @if(flash.contains("error")) {
                    <div class="alert alert-danger">
                    @flash.get("error")
                    </div>
                }

            <h1>@title</h1>
            @content
        </div>
    </body>
</html>
