
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-9">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@routes.Contacts.index">Strona główna</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-9">
            <ul class="nav navbar-nav">
                @if(utils.UserData.current() == null) {
                    <li><a href="@routes.Frontend.login">Zaloguj się</a></li>
                    <li><a href="@routes.Frontend.createRegisterForm">Zarejestruj się</a></li>
                } else {
                    @if(utils.UserData.current().getRole().getName == "admin") {
                        <li><a href="@routes.Users.listAllUsers">Lista użytkowników</a></li>

                    }
                    <li><a href="@routes.Contacts.index">Kontakty</a></li>
                    <li><a href="@routes.Users.index">Edytuj profil</a> </li>
                    <li><a href="@routes.Frontend.logout">Wyloguj się</a></li>

                }
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>





